APP_LOCALE=
APP_TIMEZONE=
APP_NAME=
APP_VERSION=
APP_KEY=
APP_TOKEN=
APP_ENV=
APP_DEBUG=
MONITORING_QUERY=
APP_URL=
AUTHENTICATION_SESSION_LIMIT=
CONTACT_EMAIL=
CONTACT_SUPPORT=
CONTACT_SALES=
CONTACT_GENERAL=
API_MANAGER_TOKEN=
API_MANAGER_URL=
DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=
DB_COLLATION=
DB_PREFIX=
MAIL_SERVICE=
MAIL_MAILER=
MAIL_AUTH=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
